go 1.25.0

use (
	./console/app-lz/bff-go
	./console/engine-console/bff-go
	./console/mock-datasource
	./pkg
	./scripts/dev
	./services/audit-log
	./services/privacy-engine
	./services/privacy-engine/sdk
	./services/service-hub
)
